body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(to right, #2c3e50, #ffffff);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;

}

.sidebar a {
    display: block;
	padding: 15px;
	font-size: 18px;
	text-decoration: none;
	color: #ecf0f1;
	transition: 0.3s;

}

.sidebar a:hover {
	background-color:  #bc1a27;
	color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 25px;
    color: #ecf0f1;
    cursor: pointer;
}
/* Botón abrir barra lateral */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
   
    transition: background-color 0.3s;
}

.openbtn:hover {
    background-color: #bc1a27;
}

.main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.nombre {
    font-size: 60px;
    font-weight: bold;
    color: #2c3e50;
}

.main p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    background-color: #bc1a27;
    color: #ecf0f1;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

iframe.maps {
    border: 2px solid #2c3e50;
    border-radius: 8px;
    margin-top: 20px;
}
