/*main*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to left, #fffb17, #9df06d);
    color: #333;
    text-align: center;
}
/*navbar*/
.navbar {
    background-color: #000;
    overflow: hidden;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    padding: 20px;
    align-items: center;
}
.navbar a:hover {
    color: #9df06d;
}
/*contenido*/
.content {
    margin-top: 80px;
    padding: 20px;
}
/*Card*/
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.06);
}
.button {
    background: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.button:hover {
    background: #9df06d;
}
/*Footer*/
/* Footer */
footer {
    margin-top: 260px;
    margin-bottom: 0;
    text-align: center;
    padding: 15px;
    background-color:black;
    color: #ecf0f1;
}