body{
    background: linear-gradient(to right, #b1b3b2, #29ec01);
}
.sidebar {
	height: 100%; /* Altura completa */
	width: 160px; /* Ancho de la barra lateral */
	position: fixed; /* Hacer que la barra lateral sea fija */
	z-index: 1; /* Colocar la barra lateral en la parte superior */
	top: 0; /* Posicionar la barra lateral en la parte superior */
	left: 0; /* Posicionar la barra lateral en el lado izquierdo */
	background-color: #111; /* Color de fondo de la barra lateral */
	overflow-x: hidden; /* Deshabilitar el desplazamiento horizontal */
	padding-top: 20px; /* Agregar espacio superior */
  }
  
  /* Estilo para los enlaces de la barra lateral */
  .sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white ;
	display: block;
  }
  
  
  .sidebar a:hover {
	color: #472183;
  }
  
  /* Estilo para el contenido principal */
  .main {
	margin-left: 160px; /* Agregar un margen izquierdo para que el contenido no se superponga con la barra lateral */
	padding: 0px 10px;
  }
  
  /* Estilo para el botón de la barra lateral */
  .openbtn {
	font-size: 10px;
	cursor: pointer;
	
	color: black;
	padding: 10px 15px;
	border: none;
  }
  .closebtn{
    padding-left: 10%;
  }