header{
    margin-top: 0px;
    margin-left: 2px;
    background-color: aquamarine;
    height: 20px;
}
header img{
    background-color: transparent;
    height: 40px;
    width: 40px;
   margin-top: 0;
}
header  h1{
    padding-left: 20px;

}