/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #2c3e50, #ffffff);
    color: #2d3436;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #bc1a27;
    color: #fff;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 25px;
    color: #ecf0f1;
    cursor: pointer;
}

.openbtn {
    font-size: 20px;
    background-color: #bc1a27;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: #941a20;
}



/* Header Styles */
header {
    background-color: #bc1a27;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 800;
   
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header img.logo {
    width: 100px;
    vertical-align: middle;
    left: 0;
    margin-top: 20px;

}

/* CV Layout */
.cv-contenido {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: solid 3px  #bc1a27;
}
.cv-contenido ul{
    margin-bottom: 20px;
}
.cv-contenido aside{
    width: 380px;
    padding: 30px;
    
    height: 680px;
    background: #f4f4f4;
}
.cv-contenido section {
    margin-left: 20px;
    margin-top: 20px;
  
}
.cv{
    width: 1300px;
    margin: 30px auto;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   
    border: solid 3px  #bc1a27;
}


/* Aside Styles */

footer {
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    background-color: #bc1a27;
    color:  rgb(255, 255, 255);
    font-size: 14px;
}

iframe.maps {
    border: 2px solid #2c3e50;
    border-radius: 20px;
    margin-top: 20px;
    
}
iframe.cancion{
    border: 2px solid #2c3e50;
    border-radius: 20px;
    margin-top: 20px;
}