body{
    background: linear-gradient(to right, rgb(199, 24, 32), rgb(224, 220, 220));
  }
.sidebar {
	height: 100%; /* Altura completa */
	width: 160px; /* Ancho de la barra lateral */
	position: fixed; /* Hacer que la barra lateral sea fija */
	z-index: 1; /* Colocar la barra lateral en la parte superior */
	top: 0; /* Posicionar la barra lateral en la parte superior */
	left: 0; /* Posicionar la barra lateral en el lado izquierdo */
	background-color: #111; /* Color de fondo de la barra lateral */
	overflow-x: hidden; /* Deshabilitar el desplazamiento horizontal */
	padding-top: 20px; /* Agregar espacio superior */
  }
  
 
  .sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: rgb(226, 217, 217) ;
	display: block;
  }
  
  
  .sidebar a:hover {
	color: #cc0d1d;
  }
  

  .main {
	margin-left: 160px; 
	padding: 0px 10px;
	width: 200px;
	font-family: 'Times New Roman', Times, serif;
  }
  

  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: rgb(199, 24, 32);
	color: black;
	padding: 10px 15px;
	border: none;
  }
  .formulario{
    background: linear-gradient(to right, rgb(199, 24, 32), rgb(192, 186, 186));
	border-color: black;
	animation: movimiento 20s infinite linear, rgbGlow 20s infinite;

}
.formText{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	font-weight: bold;
}
.registrate{
	width: 100px;
	height: 40px;
	background-color: aliceblue;
}
.imagen-button {
	background: url('boton.png');
	background-size: contain;
	width: 900px;
	height: 800px;
	border: none;
	cursor: pointer;
}

.imagen-button:focus {
	outline: none;
}